@font-face {
  font-family: 'bookingjini-icon';
  src:  url('bookingjini-icon.eot?486ztu');
  src:  url('bookingjini-icon.eot?486ztu#iefix') format('embedded-opentype'),
    url('bookingjini-icon.ttf?486ztu') format('truetype'),
    url('bookingjini-icon.woff?486ztu') format('woff'),
    url('bookingjini-icon.svg?486ztu#bookingjini-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bookingjini-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jini-people:before {
  content: "\e900";
}
.jini-people-2:before {
  content: "\e901";
}
.jini-people1:before {
  content: "\e902";
}
.jini-ac:before {
  content: "\e903";
}
.jini-Add-person:before {
  content: "\e904";
}
.jini-Add-sheet:before {
  content: "\e905";
}
.jini-add:before {
  content: "\e906";
}
.jini-add-folder:before {
  content: "\e907";
}
.jini-AI:before {
  content: "\e908";
}
.jini-air-in:before {
  content: "\e909";
}
.jini-Airplay:before {
  content: "\e90a";
}
.jini-Alarm-Clock:before {
  content: "\e90b";
}
.jini-alt:before {
  content: "\e90c";
}
.jini-amp-waves:before {
  content: "\e90d";
}
.jini-apthetic:before {
  content: "\e90e";
}
.jini-Arrow-1:before {
  content: "\e90f";
}
.jini-Arrow-2-down:before {
  content: "\e910";
}
.jini-Arrow-2-up:before {
  content: "\e911";
}
.jini-Arrow-2:before {
  content: "\e912";
}
.jini-Arrow-3-right:before {
  content: "\e913";
}
.jini-Arrow-3:before {
  content: "\e914";
}
.jini-Arrow-4-left:before {
  content: "\e915";
}
.jini-Arrow-4:before {
  content: "\e916";
}
.jini-Arrow-down:before {
  content: "\e917";
}
.jini-Arrow-up:before {
  content: "\e918";
}
.jini-arrow-down-1:before {
  content: "\e919";
}
.jini-arrow-down-2:before {
  content: "\e91a";
}
.jini-arrow-left-1:before {
  content: "\e91b";
}
.jini-arrow-left-2:before {
  content: "\e91c";
}
.jini-arrow-right-1:before {
  content: "\e91d";
}
.jini-arrow-right-2:before {
  content: "\e91e";
}
.jini-arrow-up-1:before {
  content: "\e91f";
}
.jini-arrow-up-2:before {
  content: "\e920";
}
.jini-atand-alt:before {
  content: "\e921";
}
.jini-ATM-card:before {
  content: "\e922";
}
.jini-attachment:before {
  content: "\e923";
}
.jini-Bag:before {
  content: "\e924";
}
.jini-bank-doc:before {
  content: "\e925";
}
.jini-bank-note:before {
  content: "\e926";
}
.jini-Bar-Graph-2:before {
  content: "\e927";
}
.jini-Bar-graph:before {
  content: "\e928";
}
.jini-bath-rob:before {
  content: "\e929";
}
.jini-Bathtub:before {
  content: "\e92a";
}
.jini-Bed:before {
  content: "\e92b";
}
.jini-Bell:before {
  content: "\e92c";
}
.jini-bolt:before {
  content: "\e92d";
}
.jini-Book-1:before {
  content: "\e92e";
}
.jini-Book-2:before {
  content: "\e92f";
}
.jini-Book-open:before {
  content: "\e930";
}
.jini-booking-jini:before {
  content: "\e931";
}
.jini-Books:before {
  content: "\e932";
}
.jini-Bottle:before {
  content: "\e933";
}
.jini-Box-2:before {
  content: "\e934";
}
.jini-Box-Down:before {
  content: "\e935";
}
.jini-box:before {
  content: "\e936";
}
.jini-box-sealed:before {
  content: "\e937";
}
.jini-broken-link:before {
  content: "\e938";
}
.jini-Building:before {
  content: "\e939";
}
.jini-bulb:before {
  content: "\e93a";
}
.jini-bullet-2:before {
  content: "\e93b";
}
.jini-bullet-line:before {
  content: "\e93c";
}
.jini-bullet-menu-2:before {
  content: "\e93d";
}
.jini-cab:before {
  content: "\e93e";
}
.jini-call:before {
  content: "\e93f";
}
.jini-call-2:before {
  content: "\e940";
}
.jini-Callender-1:before {
  content: "\e941";
}
.jini-Callender-2:before {
  content: "\e942";
}
.jini-Callender-3:before {
  content: "\e943";
}
.jini-Callender-3-1:before {
  content: "\e944";
}
.jini-Caution:before {
  content: "\e945";
}
.jini-chain-link:before {
  content: "\e946";
}
.jini-chain-link2:before {
  content: "\e947";
}
.jini-chart1:before {
  content: "\e948";
}
.jini-chart-2:before {
  content: "\e949";
}
.jini-chart-up:before {
  content: "\e94a";
}
.jini-check-in:before {
  content: "\e94b";
}
.jini-check-out:before {
  content: "\e94c";
}
.jini-Chef-hat:before {
  content: "\e94d";
}
.jini-Chip:before {
  content: "\e94e";
}
.jini-Clip-board-1:before {
  content: "\e94f";
}
.jini-Clip-board-2:before {
  content: "\e950";
}
.jini-Clock-backward:before {
  content: "\e951";
}
.jini-Clock-forward:before {
  content: "\e952";
}
.jini-Clock:before {
  content: "\e953";
}
.jini-Cloud-Download:before {
  content: "\e954";
}
.jini-Cloud-tick:before {
  content: "\e955";
}
.jini-Cloud-Upload:before {
  content: "\e956";
}
.jini-Cloud:before {
  content: "\e957";
}
.jini-coffee-mug:before {
  content: "\e958";
}
.jini-Coffee:before {
  content: "\e959";
}
.jini-Coin:before {
  content: "\e95a";
}
.jini-Coins:before {
  content: "\e95b";
}
.jini-compass:before {
  content: "\e95c";
}
.jini-Complete:before {
  content: "\e95d";
}
.jini-Confetty:before {
  content: "\e95e";
}
.jini-Cookie:before {
  content: "\e95f";
}
.jini-Copy:before {
  content: "\e960";
}
.jini-coupon-2:before {
  content: "\e961";
}
.jini-CPU:before {
  content: "\e962";
}
.jini-crosshair:before {
  content: "\e963";
}
.jini-Crown:before {
  content: "\e964";
}
.jini-cupboard:before {
  content: "\e965";
}
.jini-cursor:before {
  content: "\e966";
}
.jini-Database:before {
  content: "\e967";
}
.jini-Delete-tag:before {
  content: "\e968";
}
.jini-DND-Tag:before {
  content: "\e969";
}
.jini-dnd:before {
  content: "\e96a";
}
.jini-doc-alt-2:before {
  content: "\e96b";
}
.jini-docs:before {
  content: "\e96c";
}
.jini-Door:before {
  content: "\e96d";
}
.jini-dor-close:before {
  content: "\e96e";
}
.jini-double-bed:before {
  content: "\e96f";
}
.jini-Down-arrow:before {
  content: "\e970";
}
.jini-Down-Graph:before {
  content: "\e971";
}
.jini-download-box:before {
  content: "\e972";
}
.jini-Download-sheet:before {
  content: "\e973";
}
.jini-Drop:before {
  content: "\e974";
}
.jini-dry:before {
  content: "\e975";
}
.jini-Dumble:before {
  content: "\e976";
}
.jini-edit:before {
  content: "\e977";
}
.jini-excel:before {
  content: "\e978";
}
.jini-Exclamation:before {
  content: "\e979";
}
.jini-Expand-1:before {
  content: "\e97a";
}
.jini-Expand-2:before {
  content: "\e97b";
}
.jini-Expand-sheet:before {
  content: "\e97c";
}
.jini-Eye-closed:before {
  content: "\e97d";
}
.jini-Eye:before {
  content: "\e97e";
}
.jini-fan:before {
  content: "\e97f";
}
.jini-female:before {
  content: "\e980";
}
.jini-filter:before {
  content: "\e981";
}
.jini-filter-alt:before {
  content: "\e982";
}
.jini-fireplace:before {
  content: "\e983";
}
.jini-first-aid:before {
  content: "\e984";
}
.jini-flag:before {
  content: "\e985";
}
.jini-floaters:before {
  content: "\e986";
}
.jini-flower-bas:before {
  content: "\e987";
}
.jini-folder:before {
  content: "\e988";
}
.jini-fork-spoon:before {
  content: "\e989";
}
.jini-Frontdesk:before {
  content: "\e98a";
}
.jini-gear:before {
  content: "\e98b";
}
.jini-gender1:before {
  content: "\e98c";
}
.jini-gender2:before {
  content: "\e98d";
}
.jini-gender3:before {
  content: "\e98e";
}
.jini-gender4:before {
  content: "\e98f";
}
.jini-gift:before {
  content: "\e990";
}
.jini-Glass:before {
  content: "\e991";
}
.jini-glitter:before {
  content: "\e992";
}
.jini-group:before {
  content: "\e993";
}
.jini-group-3:before {
  content: "\e994";
}
.jini-group-4:before {
  content: "\e995";
}
.jini-group-alt-3:before {
  content: "\e996";
}
.jini-group-alt-4:before {
  content: "\e997";
}
.jini-hair-dryer:before {
  content: "\e998";
}
.jini-hamburger-menu:before {
  content: "\e999";
}
.jini-Hanger:before {
  content: "\e99a";
}
.jini-happy:before {
  content: "\e99b";
}
.jini-headphones:before {
  content: "\e99c";
}
.jini-heart:before {
  content: "\e99d";
}
.jini-home:before {
  content: "\e99e";
}
.jini-hourglass:before {
  content: "\e99f";
}
.jini-hygine:before {
  content: "\e9a0";
}
.jini-icon-2:before {
  content: "\e9a1";
}
.jini-icon-3:before {
  content: "\e9a2";
}
.jini-ID-card:before {
  content: "\e9a3";
}
.jini-image:before {
  content: "\e9a4";
}
.jini-in:before {
  content: "\e9a5";
}
.jini-incoming-call:before {
  content: "\e9a6";
}
.jini-iron-alt:before {
  content: "\e9a7";
}
.jini-JPG:before {
  content: "\e9a8";
}
.jini-kebab:before {
  content: "\e9a9";
}
.jini-kebab1:before {
  content: "\e9aa";
}
.jini-key:before {
  content: "\e9ab";
}
.jini-keyhole:before {
  content: "\e9ac";
}
.jini-knife:before {
  content: "\e9ad";
}
.jini-lamp:before {
  content: "\e9ae";
}
.jini-lamp-alt:before {
  content: "\e9af";
}
.jini-leaf-alt:before {
  content: "\e9b0";
}
.jini-left-Arrow:before {
  content: "\e9b1";
}
.jini-link:before {
  content: "\e9b2";
}
.jini-link2:before {
  content: "\e9b3";
}
.jini-link3:before {
  content: "\e9b4";
}
.jini-loafa:before {
  content: "\e9b5";
}
.jini-location:before {
  content: "\e9b6";
}
.jini-location-alt:before {
  content: "\e9b7";
}
.jini-lock:before {
  content: "\e9b8";
}
.jini-Mail-1:before {
  content: "\e9b9";
}
.jini-mail-2:before {
  content: "\e9ba";
}
.jini-Mail-open-1:before {
  content: "\e9bb";
}
.jini-Mail-open-2:before {
  content: "\e9bc";
}
.jini-mailbox:before {
  content: "\e9bd";
}
.jini-male:before {
  content: "\e9be";
}
.jini-man:before {
  content: "\e9bf";
}
.jini-map:before {
  content: "\e9c0";
}
.jini-mask:before {
  content: "\e9c1";
}
.jini-meal:before {
  content: "\e9c2";
}
.jini-meal-2:before {
  content: "\e9c3";
}
.jini-medal:before {
  content: "\e9c4";
}
.jini-megafone:before {
  content: "\e9c5";
}
.jini-menu-1:before {
  content: "\e9c6";
}
.jini-mini-fridge:before {
  content: "\e9c7";
}
.jini-Minus-sheet:before {
  content: "\e9c8";
}
.jini-minus:before {
  content: "\e9c9";
}
.jini-mirror:before {
  content: "\e9ca";
}
.jini-mocktail:before {
  content: "\e9cb";
}
.jini-Monitor:before {
  content: "\e9cc";
}
.jini-Monument:before {
  content: "\e9cd";
}
.jini-moon:before {
  content: "\e9ce";
}
.jini-moon-2:before {
  content: "\e9cf";
}
.jini-mouse:before {
  content: "\e9d0";
}
.jini-needle:before {
  content: "\e9d1";
}
.jini-No-wifi:before {
  content: "\e9d2";
}
.jini-numb:before {
  content: "\e9d3";
}
.jini-Office-Bag:before {
  content: "\e9d4";
}
.jini-open-folder:before {
  content: "\e9d5";
}
.jini-out:before {
  content: "\e9d6";
}
.jini-outgoing-call:before {
  content: "\e9d7";
}
.jini-Paper:before {
  content: "\e9d8";
}
.jini-Parking:before {
  content: "\e9d9";
}
.jini-path:before {
  content: "\e9da";
}
.jini-pdf:before {
  content: "\e9db";
}
.jini-pencil:before {
  content: "\e9dc";
}
.jini-person-2:before {
  content: "\e9dd";
}
.jini-Phone:before {
  content: "\e9de";
}
.jini-Pie-chart:before {
  content: "\e9df";
}
.jini-pillow:before {
  content: "\e9e0";
}
.jini-pin:before {
  content: "\e9e1";
}
.jini-pin-3:before {
  content: "\e9e2";
}
.jini-Plane-2:before {
  content: "\e9e3";
}
.jini-Plane:before {
  content: "\e9e4";
}
.jini-play-alt:before {
  content: "\e9e5";
}
.jini-pool:before {
  content: "\e9e6";
}
.jini-print:before {
  content: "\e9e7";
}
.jini-Profile:before {
  content: "\e9e8";
}
.jini-Profit:before {
  content: "\e9e9";
}
.jini-puzzle:before {
  content: "\e9ea";
}
.jini-QR-code:before {
  content: "\e9eb";
}
.jini-Question:before {
  content: "\e9ec";
}
.jini-receptionist:before {
  content: "\e9ed";
}
.jini-refresh:before {
  content: "\e9ee";
}
.jini-register:before {
  content: "\e9ef";
}
.jini-remove-folder:before {
  content: "\e9f0";
}
.jini-Revolve-person:before {
  content: "\e9f1";
}
.jini-Right-Arrow:before {
  content: "\e9f2";
}
.jini-sad:before {
  content: "\e9f3";
}
.jini-safe-locker:before {
  content: "\e9f4";
}
.jini-sanitizer:before {
  content: "\e9f5";
}
.jini-save-2:before {
  content: "\e9f6";
}
.jini-Save:before {
  content: "\e9f7";
}
.jini-scissors:before {
  content: "\e9f8";
}
.jini-search:before {
  content: "\e9f9";
}
.jini-sea-wave:before {
  content: "\e9fa";
}
.jini-security:before {
  content: "\e9fb";
}
.jini-Server:before {
  content: "\e9fc";
}
.jini-Share:before {
  content: "\e9fd";
}
.jini-shower:before {
  content: "\e9fe";
}
.jini-shutown:before {
  content: "\e9ff";
}
.jini-Silent:before {
  content: "\ea00";
}
.jini-socket:before {
  content: "\ea01";
}
.jini-sofa:before {
  content: "\ea02";
}
.jini-spatula:before {
  content: "\ea03";
}
.jini-Stack:before {
  content: "\ea04";
}
.jini-stairs:before {
  content: "\ea05";
}
.jini-star:before {
  content: "\ea06";
}
.jini-student:before {
  content: "\ea07";
}
.jini-teeth:before {
  content: "\ea08";
}
.jini-thermometer:before {
  content: "\ea09";
}
.jini-thunder:before {
  content: "\ea0a";
}
.jini-tick-circle:before {
  content: "\ea0b";
}
.jini-tick:before {
  content: "\ea0c";
}
.jini-toilet:before {
  content: "\ea0d";
}
.jini-toilet-paper:before {
  content: "\ea0e";
}
.jini-towel:before {
  content: "\ea0f";
}
.jini-trash:before {
  content: "\ea10";
}
.jini-truck:before {
  content: "\ea11";
}
.jini-TV:before {
  content: "\ea12";
}
.jini-umbrella-sun:before {
  content: "\ea13";
}
.jini-unlock:before {
  content: "\ea14";
}
.jini-Up-Arrow:before {
  content: "\ea15";
}
.jini-Up-graph:before {
  content: "\ea16";
}
.jini-Upload-sheet:before {
  content: "\ea17";
}
.jini-Upload:before {
  content: "\ea18";
}
.jini-user:before {
  content: "\ea19";
}
.jini-Wallet:before {
  content: "\ea1a";
}
.jini-washing-machine:before {
  content: "\ea1b";
}
.jini-washing-machine-alt:before {
  content: "\ea1c";
}
.jini-web:before {
  content: "\ea1d";
}
.jini-Wifi:before {
  content: "\ea1e";
}
.jini-windows:before {
  content: "\ea1f";
}
.jini-x-circle:before {
  content: "\ea20";
}
.jini-x:before {
  content: "\ea21";
}

