@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.navbar {
  align-items: center;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav-in {
  padding-top: 20px;
  height: 80px;
}

body {
    background-color: #272929;
    font-family: 'DM Sans',sans-serif;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 700;
  font-weight: bolder;
  /* -webkit-text-stroke: 0.5px rgb(0, 0, 0);  */
  font-family: "DM Sans", sans-serif;
}
  
#github {
  color: white;
}

/* header {} */
.container {
  display: flexbox;
}

header a {
  /* font-family: 'DM Sans', sans-serif; */
  color: #fff;
}

a.navbar-brand:hover {
  color: #fff !important;
}

.container-logo {
  display: flex;
  margin: 10px;
}
.imglogo {
  width: 20%;
  border-radius: 100%;
  margin: 10px;
}
.logotxt {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 12px;
}


/* ====================== Dark mode ===================== */
.navright {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  padding: 25px 35px;
  gap: 10px;
  flex-wrap: wrap;
}
.nightmode {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}
label {
  width: 70px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 0.5px 1.5px rgba(31, 30, 30, 0.4),
    inset 0px 0.5px 1.5px rgb(240, 240, 236);
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 20px;
  box-shadow: 0px 0.5px 1.5px rgba(102, 116, 243, 0.2);
  transition: 0.3s;
}
.navright input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #023542;
}
input:checked + label:after {
  left: 10px;
  transform: translate(100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label :active:after {
  width: 28px;
}
label svg {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 40px;
  z-index: 100;
  top: 1px;
}
label svg.sun {
  left: 3px;
  fill: #fff;
  transition: 0.3s;
}
label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #cfc8c8;
}
input:checked + label svg.moon {
  fill: #d1cece;
}

/* ====================== ******************************************** ===================== */
@media only screen and (max-width: 1000px) {
  /* .logotxt {
    left: -100px;
  } */
  .me-1 {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 150px) and (max-width: 768px) {
  .logotxt {
    left: 0px;
  }
  .imglogo {
    width: 8%;
  }
  .btn-outline-primary {
    margin: 5px;
  }
  .Lhead {
    flex-direction: column;
    align-items: center; /* Add this line to center align the buttons */
  }
  .me-1 {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 150px) and (max-width: 767px) {
  .Lhead {
    flex-direction: column;
  }
  /* .btn-outline-primary{
    left: -33px;
    position: relative;
    } */
}
@media only screen and (max-width: 545px) {
  .head-text .title {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .head-text .title {
    font-size: 2.7rem;
    justify-content: flex-start;
    display: flex;
  }
  .icon__parent__box {
    justify-content: center;
  }
  .search-box {
    padding: 4vw;
  }
}
@media only screen and (max-width: 400px) {
  .head-text .title {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 500px) {
  #icon-wrapper {
    width: 360px;
  }
}
@media only screen and (max-width: 500px) {
  .bigContainer {
    width: 360px;
  }
  #myUL {
    width: 360px;
  }
}

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146);
}

.head-text {
  font-family: "DM Sans", sans-serif;
}

/* changed the font-size & added margin */
.head-text h1 {
  font-size: 5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  /* -webkit-text-stroke: 2px rgb(255, 255, 255); */
  color: #f1f1f1;
}
.animated {
 color: white;
}

.animated:hover {
  cursor: pointer;
  background-position: -100%;
}
.container-flex {
  display: flex;
}

.head-text h3 {
  font-size: calc(20px + 0.390625vw);
  font-weight: 400;
  letter-spacing: auto;
  color: #b8b9be;
  margin: 15px;
  padding-top: 1%;
  font-family: "DM sans", "Arvo", sans-serif;
}

.search-box {
  padding-top: 2%;
  position: relative;
  display: inline-block;
  border: solid #b8b9be;
  border-radius: 14px;
  padding: 5px;
  width: 98%;
  height: 64px;
}

/* changed the width also added margin, padding */
.search-box .search-box-2 {
  background: #2b2b2b;
  font-family: "DM Sans", sans-serif;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 100%;
  color: #b8b9be;
  outline: none;
  padding: 0 0 0 40px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: bold;
  color: #b8b9be;
  left: 15px;
}

.search-box .search-box-2:hover {
  background: #353535;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-box .form-control {
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  height: calc(2.5em + 1.4rem + 0.0625rem);
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #44476a;
  background-color: #e6e7ee;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  transition: all 0.3s ease-in-out;
}

/* .shadow-soft { */
/* box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important; */
/* transition: transform .2s; */
/* border-radius: 2%;
    margin-left: 2rem;
    margin-bottom: 2rem; */
/* } */

.shadow-soft button {
  display: none;
}

.shadow-soft:hover {
  background-color: #515151;
  border-radius: 16px;
  transform: scale(1.2);
  transition-duration: 250ms;
  cursor: pointer;
  color: #fff;
}

.shadow-soft:hover button {
  display: block;
}

.shadow-soft p {
  margin-bottom: 0rem;
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-transform: capitalize;
}

.shadow-soft i {
  font-size: 1.5rem;
  color: #fff;
}

/*.icon-box {} */

.icon-box li {
  list-style: none;
}

.icon-box ul {
  display: flex;
  justify-content: space-between;
}

.icon-box .shadow-soft {
  width: 5.5rem;
  border-radius: 4%;
  height: fit-content;
}

.shadow-soft textarea {
  width: -webkit-fill-available;
  resize: none;
  font-size: 11px;
  display: none;
}

/* .shadow-soft:hover textarea {
    display: block;
    background: rgb(54 54 54 / 28%);
    box-shadow: 4px 16px 47px 2px rgb(0 0 0 / 16%);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    padding: 3px 3px 3px 3px;
    font-size: 9px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
} */

.shadow-soft span {
  display: none;
}

.shadow-soft:hover span {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  padding-left: 7px;
}

.shadow-soft:hover .btn {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  display: inline-block;
}

.icon-box .row {
  column-gap: 2rem;
}

.icon__parent__box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.icon-div {
  display: none;
}

.notFound {
  color: #f3f0f0;
  text-align: center;
  margin-top: 20px;
}
.display {
  display: none;
}

.notFound img {
  width: 3.4rem;
}

.icon-modal{
    position: sticky;
    padding: 20px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f0f0;
    min-width: 250px;
    width: 30%;
    z-index: 100;
    display: none;
    flex-direction: column;
}

.icon-modal div{
    text-align: left;
}

.icon-modal code{
    padding: min(10px, 2%);
    width: 100%;
    word-wrap: normal;
    border-radius: 5px;
    background-color: #272929;
    color: white;
    text-align: left;
}

.icon-modal .icon-preview{
    text-align: center;
    font-size: 50px;
}

.icon-modal .jini-x{
    font-weight: 900;
    position: absolute;
    right: 20px;
}

/* ====================== Code for CDN ===================== */    

.copy-code-container {
  display: flex;
  align-items: center;
  width: 98%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
}

.copy-code-input {
  flex-grow: 1;
  overflow-x: auto;
  width: 90%;
  margin-left: 0.5rem;
}

.copy-code-input::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

.copy-code-input::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.copy-code-input::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 3px;
}

.icon {
  color: #666;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 1rem;
}
.text1 {
  color: #fff;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.text2 {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}
code {
  overflow-x: auto;
  width: fit-content;
  white-space: nowrap;
}

.copy-icon {
  color: green;
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-30%);
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.img-icon {
  width: 50px;
}

#bottom {
  top: 25px;
  left: -50%;
}

.hover-text {
  position: relative;
  font-family: Arial;
  text-align: center;
}

/* ====================== START OF SCROLL-TO-TOP BUTTON===================== */

#progress {
  background-color: #69757c;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  transform: rotate(-90deg);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #69757c;
}

/* ====================== END OF SCROLL-TO-TOP BUTTON ===================== */

/* Footer Section */

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  padding: 24px 50px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

.footer-content {
  margin-right: 1.25em;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15%;
}

.footer-content h1 {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  margin-top: 0.5em;
}

.footer-content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.footer-content span {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

.socials a {
  width: 50px;
  height: 40px;
  color: #e7f2f4;
  display: inline-block;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 25px;
  margin: 10px 0px;
  transition: 0.5s;
}

.socials a:hover {
  transform: scale(1.25);
}

.socials a:nth-of-type(2) {
  background: linear-gradient(to left, rgb(226, 27, 203), rgb(235, 225, 40));
  background-size: 200% 200%;
  -webkit-background-clip: text;
}
.socials a:nth-of-type(1):hover {
  color: rgb(61, 109, 213);
}
.socials a:nth-of-type(2):hover {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background-position: -100%;
}
.socials a:nth-of-type(3):hover {
  color: rgb(61, 109, 213);
}
