@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


body {
    background-color: #272929;
    font-family: 'DM Sans',sans-serif;

}

/* header {} */

header a {
    /* font-family: 'DM Sans', sans-serif; */
    color: #fff;
}
.imglogo{
    width: 5%;
    /* height: 10%; */
    border-radius: 100%;
}
.logotxt{
    font-weight: bolder;
    font-size: 1.3em;
    position: relative;
    left: -180px;
}
@media only screen and (max-width: 1000px) {
    .logotxt{
        left: -100px;
    }
    .me-1{
        margin-bottom: 0.5rem;
    }
}
@media only screen and (min-width: 150px) and (max-width: 768px) {
    .logotxt{
        left: 0px;
    }
    .imglogo{
        width: 8%;
    }
    .btn-outline-primary{
    margin: 5px;
    }
    .Lhead {
        flex-direction: column;
        align-items: center; /* Add this line to center align the buttons */
    }
    .me-1{
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 150px)and (max-width:767px){
    .Lhead{
        flex-direction: column;
    }
    /* .btn-outline-primary{
    left: -33px;
    position: relative;
    } */
}
@media only screen and (max-width: 516px) {
    .head-text .title {
        font-size: 19vw;
        justify-content: center;
        display: flex;
    }
    .icon__parent__box{
        justify-content: center;
    }
    .search-box{
        padding: 4vw;
    }
  }
  
  
.btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
}

.head-text {
    font-family: 'DM Sans', sans-serif;
}


/* changed the font-size & added margin */
.head-text h1 {

    font-size: 50px;

    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 90px;

    font-weight: 700;
    line-height: 100%;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: #f3f0f0;
    font-family: 'DM Sans',sans-serif;

}

.head-text h3 {
    font-size: calc(20px + 0.390625vw);
    font-weight: 400;
    letter-spacing: auto;
    color: #b8b9be;
    padding-top: 2%;
    margin: 15px;
    padding-top: 1%;
    font-family: 'DM sans', 'Arvo',sans-serif;
}

.search-box {
    padding-top: 2%;
}


/* changed the width also added margin, padding */
.search-box .search-box-2 {
    background: #f5f6f7;
    font-family: 'DM Sans', sans-serif;
    border-radius: 14px;

    width: 85%;
    color: #000;

    width: 98%;
    color: #000000;
    border: 0 solid #e2e2e2;
    padding-left: 3%;
    height: 50px;
    font-size: 17px;
    outline: none;
}

.search-box .search-box-2:hover {
    background: #353535;
    -webkit-transition: .3s;
    transition: .3s;
    color: #ffffff;
}

.search-box .form-control {
    margin-top: 1.5rem;
    display: block;
    width: 100%;
    height: calc(2.5em + 1.4rem + 0.0625rem);
    padding: 0.6rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
    background-color: #e6e7ee;
    background-clip: padding-box;
    border: 0.0625rem solid #d1d9e6;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    transition: all .3s ease-in-out;
}

/* .shadow-soft { */
    /* box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important; */
    /* transition: transform .2s; */
    /* border-radius: 2%;
    margin-left: 2rem;
    margin-bottom: 2rem; */
/* } */

.shadow-soft button {
    display: none;
}

.shadow-soft:hover {
    background-color: #515151;
    border-radius: 16px;
    transform: scale(1.2);
    transition-duration: 250ms;
    cursor: pointer;
    color: #fff;
}

.shadow-soft:hover button {
    display: block;
}

.shadow-soft p {
    margin-bottom: 0rem;
    margin-top: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: .8rem;
    color: #fff;
    text-transform: capitalize;
}


.shadow-soft i {
    font-size: 1.5rem;
    color: #fff;
}

.icon-box {}

.icon-box li {
    list-style: none;
}

.icon-box ul {
    display: flex;
    justify-content: space-between;
}

.icon-box .shadow-soft {
    width: 5.5rem;
    border-radius: 4%;
    height: fit-content;
}

.shadow-soft textarea {
    width: -webkit-fill-available;
    resize: none;
    font-size: 11px;
    display: none;
}

/* .shadow-soft:hover textarea {
    display: block;
    background: rgb(54 54 54 / 28%);
    box-shadow: 4px 16px 47px 2px rgb(0 0 0 / 16%);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    padding: 3px 3px 3px 3px;
    font-size: 9px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
} */


.shadow-soft span {
    display: none;
}

.shadow-soft:hover span {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
    padding-left: 7px;
}

.shadow-soft:hover .btn {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    display: inline-block;
}


.icon-box .row {
    column-gap: 2rem;
}

.icon__parent__box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.icon-div {
    display: none;
}

/* ====================== START OF SCROLL-TO-TOP BUTTON===================== */    

#progress {
    background-color: #69757c;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: grid;
    place-items: center;
    transform: rotate(-90deg);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #69757c;
  }
  
  /* ====================== END OF SCROLL-TO-TOP BUTTON ===================== */
